<div class="container">
  <section class="main-text">
    <h1>Transforming code into memorable moments.</h1>
    <p>
      It's not just about lines of code; It's about creating experiences that
      captivate users and drive successful customer outcomes. This is where my
      passion for frontend development meets my commitment to technical
      excellence and innovation.
    </p>
  </section>
  <section class="banner">
    <ul>
      <li>
        <h5>Responsive Design</h5>
        <span>•</span>
      </li>
      <li>
        <h5>Web Sites</h5>
        <span>•</span>
      </li>
      <li>
        <h5>Libraries</h5>
        <span>•</span>
      </li>
      <li>
        <h5>Web Apps</h5>
        <span>•</span>
      </li>
      <li>
        <h5>Projects</h5>
        <span>•</span>
      </li>
      <li>
        <h5>Responsive Design</h5>
        <span>•</span>
      </li>
      <li>
        <h5>Web Sites</h5>
        <span>•</span>
      </li>
      <li>
        <h5>Libraries</h5>
        <span>•</span>
      </li>
      <li>
        <h5>Web Apps</h5>
        <span>•</span>
      </li>
      <li>
        <h5>Projects</h5>
        <span>•</span>
      </li>
    </ul>
  </section>
  <section class="information">
    <div class="information-container" id="information-portfolio">
      <article class="skills-article">
        <strong>Main Tools Used</strong>
        <ul>
          <li>
            <div class="skills-article--icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46"
                height="46"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-typescript"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M15 17.5c.32 .32 .754 .5 1.207 .5h.543c.69 0 1.25 -.56 1.25 -1.25v-.25a1.5 1.5 0 0 0 -1.5 -1.5a1.5 1.5 0 0 1 -1.5 -1.5v-.25c0 -.69 .56 -1.25 1.25 -1.25h.543c.453 0 .887 .18 1.207 .5"
                />
                <path d="M9 12h4" />
                <path d="M11 12v6" />
                <path
                  d="M21 19v-14a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2 -2z"
                />
              </svg>
            </div>
            <p class="skills-article--description">TypeScript</p>
          </li>
          <li>
            <div class="skills-article--icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                height="48"
                viewBox="0 0 16 16"
                width="48"
              >
                <g fill="#FFF">
                  <path
                    d="m8.5 7.5c0-.82843.67157-1.5 1.5-1.5h1.5c.2761 0 .5.22386.5.5s-.2239.5-.5.5h-1.5c-.27614 0-.5.22386-.5.5v.5c0 .27614.22386.5.5.5h.5c.8284 0 1.5.67157 1.5 1.5v.5c0 .8284-.6716 1.5-1.5 1.5h-1.5c-.27614 0-.5-.2239-.5-.5s.22386-.5.5-.5h1.5c.2761 0 .5-.2239.5-.5v-.5c0-.27614-.2239-.5-.5-.5h-.5c-.82843 0-1.5-.67157-1.5-1.5z"
                  />
                  <path
                    d="m8 6.5c0-.27614-.22386-.5-.5-.5s-.5.22386-.5.5v4c0 .2761-.22386.5-.5.5h-1c-.27614 0-.5.2239-.5.5s.22386.5.5.5h1c.82843 0 1.5-.6716 1.5-1.5z"
                  />
                  <path
                    d="m2 4.5c0-1.38071 1.11929-2.5 2.5-2.5h7c1.3807 0 2.5 1.11929 2.5 2.5v7c0 1.3807-1.1193 2.5-2.5 2.5h-7c-1.38071 0-2.5-1.1193-2.5-2.5zm2.5-1.5c-.82843 0-1.5.67157-1.5 1.5v7c0 .8284.67157 1.5 1.5 1.5h7c.8284 0 1.5-.6716 1.5-1.5v-7c0-.82843-.6716-1.5-1.5-1.5z"
                  />
                </g>
              </svg>
            </div>
            <p class="skills-article--description">JavaScript</p>
          </li>
          <li>
            <div class="skills-article--icon">
              <i class="fa-brands fa-angular"></i>
            </div>
            <p class="skills-article--description">Angular</p>
          </li>
          <li>
            <div class="skills-article--icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46"
                height="46"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-html5"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" />
                <path
                  d="M15.5 8h-7l.5 4h6l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5"
                />
              </svg>
            </div>
            <p class="skills-article--description">HTML</p>
          </li>
          <li>
            <div class="skills-article--icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46"
                height="46"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-css3"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" />
                <path
                  d="M8.5 8h7l-4.5 4h4l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5"
                />
              </svg>
            </div>
            <p class="skills-article--description">CSS</p>
          </li>
        </ul>
      </article>
      <article class="projects-article">
        <div class="project">
          <div class="project__left-content">
            <div class="project__index">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 -12 24 48"
              >
                <path
                  d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"
                />
              </svg>
              <h4>Project 1</h4>
            </div>
            <h3 class="project__title">Hardware Heaven: a responsive design</h3>
            <!--  client no se pone -->
            <p class="project__description">
              Hardware Heaven is a project where I test my skills with Angular
              and encourage myself to design. I consume an API to display a list
              of products with the possibility of adding items to a shopping
              cart and filtering said list by categories. Additionally, there is
              a user registry that is saved locally. <br />
              The design was carried out by myself and I use Angular Material
              components for the layout.
            </p>
          </div>

          <div class="project__right-content">
            <img
              src="../../../../../../assets/img/project1.png"
              alt=""
              class="project__img"
            />
            <div class="project__info">
              <div class="project__info-item">
                <i class="fa-solid fa-clipboard"></i>
                <p>
                  <strong>My Role:</strong> Frontend Developer, UI/UX Designer
                </p>
              </div>
              <div class="project__info-item">
                <i class="fa-solid fa-pager"></i>
                <p><strong>Type of project: </strong> Personal Project</p>
              </div>
              <a
                class="project__info-button"
                href="https://github.com/kayo-aa/hardwareHaven"
                >View Repository</a
              >
            </div>
          </div>
        </div>
        <div class="project">
          <div class="project__left-content">
            <div class="project__index">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 -12 24 48"
              >
                <path
                  d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"
                />
              </svg>
              <h4>Project 2</h4>
            </div>
            <h3 class="project__title">ToDo App: get organized easily</h3>
            <!--  client no se pone -->
            <p class="project__description">
              Stay on top of your tasks with this project made with Angular
              Angular Material. You can create, delete, edit or mark as
              completed each of the tasks you want. <br />
              I decided to code a ToDo App because it is an ideal project to
              transfer your knowledge of programming logic and create your first
              solutions in the world of software.
            </p>
          </div>

          <div class="project__right-content">
            <img
              src="../../../../../../assets/img/project2.png"
              alt=""
              class="project__img"
            />
            <div class="project__info">
              <div class="project__info-item">
                <i class="fa-solid fa-clipboard"></i>
                <p>
                  <strong>My Role:</strong> Frontend Developer, UI/UX Designer
                </p>
              </div>
              <div class="project__info-item">
                <i class="fa-solid fa-pager"></i>
                <p><strong>Type of project: </strong> Personal Project</p>
              </div>
              <a
                class="project__info-button"
                href="https://github.com/kayo-aa/toDo"
                >View Repository</a
              >
            </div>
          </div>
        </div>
      </article>
    </div>
    <div
      class="table"
      [ngStyle]="{ 'grid-template-rows': informationElementHeight }"
    >
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
  </section>
</div>
